---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Teaching Assistant</h2>
<hr>
<h3 style="display: inline;">EN.553.647: Quantitative Portfolio Theory and Performance Analysis</h3> <span>- Johns Hopkins University (Spring 2026)</span>
<h3 style="display: inline;">EN.553.646: Risk Measurement/Management in Financial Markets</h3> <span>- Johns Hopkins University (Fall 2025)</span>
<h3 style="display: inline;">EN.553.645: Interest Rate and Credit Derivatives</h3> - <span>Johns Hopkins University (Spring 2025, Spring 2026)</span>
<h3 style="display: inline;">EN.553.644: Introduction to Financial Derivatives</h3> - <span>Johns Hopkins University (Fall 2024)</span>
<ul>
  <li>Taught a weekly section for approx. 25 undergraduate/master’s level students focused on topic review and problem solving</li>
  <li>Provided guidance to students including regular and extra office hours, regular feedback on graded
homework, and exam review sessions</li>
  <li>Created and revised solutions manuals, practice problems, and review materials</li>
</ul>
